-
    let mainMenu = [
        ["Home", "#"],
        ["Why MISOCIAL", "#"],             
        ["Features", "#"],             
        ["Articles", "#"],             
        ["Pricing", "#"],
    ]
mixin menu(mainMenu, colorTheme="light")
    .navigation(class=colorTheme).wrapper.flex-between
        .logo
            a(href="index.html")
                img(src="img/logo.svg" alt="")
                span(class=colorTheme) misocial
        span.bord
        nav.flex-between
            ul(class=colorTheme).menu
                li(class=colorTheme).cancel-burger 
                    <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill=""><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg> 
                for item in mainMenu
                    li
                        a.hover(href=item[1]) #{item[0]}
            p(class=colorTheme).cta.cta-entry
                a.btn(href="#") get started 

-
    let cardsInfo = {
        satelite: {
            img: "img/satelite.svg",
            alt: "",
            personal: "personal",
            curency: "$",
            price: 0,
            isMonth: true,
            description: [
                "Lorem ipsum dolor sit amet.",
                "sed do eiusmod tempor incididunt ut.",
                "Labore et dolore magna aliqua.",
                "quis nostrud exercitation ullamco laboris.",
                "Ea commodo consequat.",
            ],
            btnText: 'select plan',
            href:'#',
        },
        mars:{
            img: "img/mars.svg",
            alt: "",
            personal: "personal",
            curency: "$",
            price: 29,
            isMonth: true,
            description: [
                "Lorem ipsum dolor sit amet.",
                "sed do eiusmod tempor incididunt ut.",
                "Labore et dolore magna aliqua.",
                "quis nostrud exercitation ullamco laboris.",
                "Ea commodo consequat.",
            ],
            btnText: 'select plan',
            href:'#',
        },
        rocket:{
            img: "img/rocket.svg",
            alt: "",
            personal: "personal",
            curency: "$",
            price: 49,
            isMonth: true,
            description: [
                "Lorem ipsum dolor sit amet.",
                "sed do eiusmod tempor incididunt ut.",
                "Labore et dolore magna aliqua.",
                "quis nostrud exercitation ullamco laboris.",
                "Ea commodo consequat.",
            ],
            btnText: 'select plan',
            href:'#',
        },
    }

mixin card(oneCard)
    figure.card-figure
        figcaption
            picture
                img.picture(src=oneCard.img, alt=oneCard.alt class="img")
            p.personal #{oneCard.personal}
            p.price
                b #{oneCard.price}
                    span.curency #{oneCard.curency}
                if oneCard.isMonth
                    | /month
                else
                    | /year
            ul.description 
                for oneText in oneCard.description 
                    li #{oneText}
            a(href=oneCard.href) #{oneCard.btnText}  